body {
  font-family: sans-serif;
}

input {
  padding: 1em;
}

.user-mgmt__container {
  text-align: left;
}

.user-login {
  border: 1px solid black;
  width: 20em;
  margin: 2em;
  display: inline-block;
}

.user-login__info {
  padding: 1em;
  font-size: 1em;
  width: 15em;
  margin: auto;
  text-align: center;
}

.login-label {
  float: left;
}

.first-name,
.last-name,
.user-email {
  width: 19.5em;
  margin: .5em auto 1em auto;
}

.user-submit {
  padding: 1em;
  background: white;
  border-radius: .25em;
  width: 10em;
  margin: 1em auto;
  border: 1px solid gray;
}

.user-index {
  width: 50%;
  border: 1px solid black;
  display: inline-block;
  /*min-height: 10em;*/
  position: absolute;
  padding: 2em;
  margin: 2em;
}
